{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="reveal">

    <article id="hero">

        <div class="column">
            <div class="text-center">

                <h1>About Us</h1>

            </div>
        </div>



    </article>


</section>


<section id="vision-mission" class="reveal">

    <div class="container">


        <div class="vision-heading">
            <h2>
                The School runs Pre-School, Kindergarten, Primary, and Secondary School
                Academic and Entrepreneurship Programmes. The School offer Co-Curricular
                Activities for a Complete School Experience.
            </h2>
        </div>



        <div class="row align-items-center vision-content">


            <div class="col-lg-7">

                <p class="vision-intro">
                    We aim to develop pupils and students who demonstrate resilience,
                    respect, integrity and independence and who are educationally
                    prepared for the future;
                </p>

                <ul class="vision-list">

                    <li>

                        Engaged and responsible lifelong learners.
                    </li>

                    <li>

                        Literate and numerate.
                    </li>

                    <li>

                        Skilled in managing relationships.
                    </li>

                    <li>

                        Respectful to self, others and the environment.
                    </li>

                    <li>

                        Kind, caring and compassionate.
                    </li>

                    <li>

                        Able to problem solve and think critically and creatively.
                    </li>

                </ul>


                <p class="school-name">
                    Gaga School:
                </p>


                <ul class="vision-list">

                    <li>

                        Provides an exciting, high quality and holistic education.
                    </li>

                    <li>

                        Demonstrates high quality teaching with innovative technologies,
                        to personalize the learning for all pupils and students.
                    </li>

                    <li>

                        Builds leaders for a sustainable future.
                    </li>

                    <li>

                        Creates a positive, safe and nurturing environment, that inspires
                        a strong sense of community.
                    </li>

                </ul>

            </div>


            <!-- RIGHT SIDE -->
            <div class="col-lg-5">

                <div class="vision-image">
                    <img src="{% static 'img/mission.png' %}" alt="Our Vision and Mission">
                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}