{% load static %}


<footer id="site-footer">

    <div class="container">

        <div class="row">

            <!-- Logo / Contact -->
            <div class="col-lg-4 col-md-12 footer-company">
                <img src="{% static 'img/favicon.png' %}" alt="Severna" class="footer-logo">

                <p>
                    123 School Street<br>
                    Lagos, Nigeria
                </p>

                <p>
                    hello@severna.com<br>
                    +234 123 456 7890
                </p>

                <div class="social-icons">
                    <a href="#">f</a>
                    <a href="#">𝕏</a>
                    <a href="#">in</a>
                    <a href="#">◎</a>
                </div>
            </div>


            <!-- Primary -->
            <div class="col-lg-2 col-md-6 col-6 footer-column">
                <h5>Primary</h5>

                <ul>
                    <li><a href="#">Early School</a></li>
                    <li><a href="#">Primary School</a></li>
                    <li><a href="#">Key Stages</a></li>
                </ul>
            </div>


            <!-- Secondary -->
            <div class="col-lg-2 col-md-6 col-6 footer-column">
                <h5>Secondary</h5>

                <ul>
                    <li><a href="#">Secondary School</a></li>
                    <li><a href="#">Curriculum</a></li>
                    <li><a href="#">Admissions</a></li>
                </ul>
            </div>


            <!-- About -->
            <div class="col-lg-2 col-md-6 col-6 footer-column">
                <h5>About Us</h5>

                <ul>
                    <li><a href="#">Our Method</a></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Testimonials</a></li>
                </ul>
            </div>


            <!-- Legal -->
            <div class="col-lg-2 col-md-6 col-6 footer-column">
                <h5>Legal</h5>

                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </div>

        </div>


        <!-- Bottom -->
        <div class="footer-bottom">
            <p>© 2026 Severna. All rights reserved.</p>
        </div>

    </div>

</footer>